html {
    background-color: rgb(255, 216, 164);
    color: rgb(14, 15, 106);
}

.square-list {
    list-style-type: square;
}

.letter-list {
    list-style-type: upper-alpha;
}

.nav {
    list-style-type: none;
    background-color: rgb(149, 239, 231);
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}